/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/* Global styles
-------------------------*/
/* apply a natural box layout model to all elements, but allowing components to change */

:root {
  --light-shade: #F4F4F3;
  --light-accent:#D6A24A;
  --main-brand-color: #B5ADA1;
  --dark-accent: #8B695A;
  --dark-shade: #413C46;

  --main-text-color: #413C46;
  --main-padding: 15px;  

  --title-font: 'PT Serif';
  --subtitle-font: 'Roboto';
  --body-font: 'Prompt';
}



html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: var(--body-font), sans-serif;
  color: var(--main-text-color);
  font-weight: 300;
  margin: 0;
}
h1, h2 {
  
  font-weight: 500;
}
h1 {
  font-family: var(--title-font), sans-serif;
  font-size: 80px;
}
h2 {
  font-family: var(--subtitle-font), sans-serif;
  font-size: 40px;
  margin-top: 0;
}
h3 {
  font-weight: 300;
  margin: 0;
}

a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}
.uppercase {
  text-transform: uppercase;
}
.thinn {
  font-weight: 300;
}
.thicc {
  font-weight: 400;
}
.extra-thicc {
  font-weight: 500;
}
.italic {
  font-style: italic; 
}


/* Download button */
.btn {
  text-decoration: none;
  background: var(--light-accent);
  color: var(--main-text-color);
  padding: 10px;
  display: inline-block;
}


/* Header and Footer
-------------------------*/
header, footer {
  background: var(--light-shade);
}
/* header */
header {
  padding-top: 50px;
  position: relative;
}
header h1, header h2 {
  margin: 0;
  text-align: center;
}
.profile-img {
  border-radius:5%;
}
.download {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* footer */
footer {
  text-align: center;
  background: var(--light-accent);
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: var(--light-accent);
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  color: var(--main-text-color);
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
}

nav a:hover{
  background-color: var(--dark-accent);
}

.about {
  background: var(--light-shade);
  width: 70%;
  float: left;
  padding: 20px;
  margin-left:15%;
  margin-right:15%;
}


/* Work Experience
-------------------------*/
.work {
  background: var(--light-shade);
}
.workh3{
  text-align: left; 
  font-weight: 500;
  margin: 0;
  color: var(--main-text-color);
}
.workp{
  text-align: left;
  font-style: italic;
  margin: 0;
  color: var(--main-text-color);
}
.job-description {
  margin-bottom: 25px;
}
.job-description p:first-of-type {
  margin-top: 0;
}

/* Course Experience
-------------------------*/
.course {
  background: var(--light-shade);
}
.courseh3 {
  text-align: left; 
  font-weight: 500;
  margin: 0;
  color: var(--main-text-color);
}
.courseh3 ~ p {
  text-align: left; 
  font-style: italic;
  margin: 0;
  color: var(--main-text-color);
}
.course-description {
  margin-bottom: 2%;
}
.course-description p:first-of-type {
  margin-top: 0;
}

.github{
  text-align: center;
  font-family: var(--subtitle-font), sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

/* Education
-------------------------*/
.education {
  background: var(--light-shade);
}
p + h3 {
  text-align: left;
  margin-top: 30px;
}



/* Media Queries
-------------------------*/
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 10%;
  }
  .col-full{
    width: 100%;
    float: left;
    text-align: center;
  }
}
@media (max-width: 899px){
  header {
    text-align: left;
  }
  .profile-img {
    width: 200px;
  }
}


.parallax {
  /* The image used */
  background-image: url("/images/NoahJohnson.jpeg");

  /* Set a specific height */
  min-height: 1000px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome {
  height: 200px;
  background-color: #fff;
  word-wrap: normal;
  word-break: keep-all;
  font-weight: 700;
  line-height: 1.125em;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  top: 300px;
}

.Welcome {
  display: flex;
  height: 50%;
  align-items: center;
  padding: 5%;
  justify-content: left;
}

h5 {
  color: white;
  top: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-bottom: 38px;
  -webkit-margin-before: 50%;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-tap-highlight-colour: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  font-family: var(--title-font);
  font-size: 31px;


}

h5:after,
h5:before {
  content: '';
  width: 50px;
  height: 2px;
  background: var(--dark-accent);
  margin: 0 10px;
}